.content__name {
    width: 513px;
    margin-bottom: 246px;
}
.content__name-title {
    font-size: 72px;
    line-height: 1.36;
}
.content__name-text {
    font-size: 18px;
    margin: 35px 0
}
.butten {
    display: inline-block;
    width: 168px;
    background-color: red;
    font-size: 14px;
    font-weight: bold;
    height: 55px;
    text-align: center;
    border-radius: 35px;
    text-transform: uppercase;
    margin-top: auto;
    line-height: 55px;
}