.content__name {
    width: 513px;
    margin-bottom: 246px;
}
.content__name-title {
    font-size: 72px;
    line-height: 1.36;
}
.content__name-text {
    font-size: 18px;
    margin: 35px 0
}
