.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 113px;
}
.partners__item {
    margin-bottom: 60px;
}
.partners__item .partners__link:nth-child(4n + 1) {
    justify-content: flex-start;
}


.partners__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    min-width: 230px;
}