.separator {
    background: url(../img/Rectangle.jpg) ;
    min-height: 363px;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.separator__title {
    font-size: 48px;
    font-weight: bold;

}
.separator__content {
    display: flex;
    align-items: center;

    
}
.separator__picture {
    padding-top: 22px;
    margin-left: 27px;
    margin-right: 33px;
}